  .corbar {
        float: left;
        margin-left: 3px;
        margin-right: 10px;
        width: 5px;
        height: 22px;
        background-color: #017EC1;
    }
input[value="筛选"] {
    padding: 0px 10px 0px 10px;
    border-radius: 5px;color: #008ad2;
    width: 69px;
    border: 1px solid silver;
}
 input[name="SearchString"] {
            width: 192px;
           
        }
 td,th {
        border: 1px solid #000;
        padding: .5em .75em;
    }

thead {
     background-color: #1a83cb;
     color: white;
 }
.even{
    background:#c0c0c0;
}
.odd{
    background:#a6caf0;
}
.cscectable {
    border: 1px solid #000;
    table-layout: fixed;
     width: 969px;
}
  #apply {
        margin-left: 5px;
        width: 70px;
        height: 26px;
        background-color: #008AD2;
        color: #FFFFFF;
        border-radius: 3px;
        border: none;
    }

    #mainTable {
       
        /*height: 396px;*/
        border: 2px solid #DADADA;
        background-color: white;
    }

    #flipArea {
        margin-top: 6px;
        /*margin-left: 10px;*/
        width: 969px;
        height: 40px;
        border: 2px solid #F5F5F5;
    }

    th {
        background-color: #008AD2;
        text-align: center;
        border-color: #FFFFFF;
        color: #FFFFFF;
        height: 50px;
        line-height: 18px;
    }

    td {
        border-color: #F0F0F0;
        height: 28px;
        text-align: center;
        word-break: break-all;
        line-height: 18px;
    }

    #flipSelect {
        float: left;
        border: 2px solid #DADADA;
        margin-left: 50px;
        margin-top: 5px;
        width: 60px;
        height: 26px;
    }

        #flipSelect option {
            text-align: center;
        }
    #summary {
        float: left;
        margin-top: 5px;
        margin-left: 300px;
    }

    #pageNum {
        border: 2px solid #DADADA;
        width: 80px;
        text-align: center;
        float: left;
        margin-left: 20px;
    }

    #firstPage, #prevPage, #nextPage, #lastPage {
        margin-top: 7px;
        float: left;
        margin-left: 20px;
    }

    #totalPages {
        margin-top: 0px;
        float: left;
        margin-left: 4px;
    }
   
       .noticetable {
            border-left:5px solid #008ad2;
           height: 31px;
           margin: .5em;
           /*border-bottom: 1px solid #000;*/
           padding: 5px;
       }
  
  .notice-tip {
        border-sizing: border-box;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        left: -999em;
        position: absolute;
        color: white;
        background-color: red;
        display: inline;
    }
   
   .to-right-notice-tip {
        border-sizing: border-box;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        right: -999em;
        position: absolute;
        color: white;
        background-color: red;
        display: inline;
    }
   #selectRegion {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/地点.png') no-repeat scroll right center #008ad2;
    width: 140px;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectRegion::-ms-expand { display: none; }
 #selectLevel {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/项目级别.png') no-repeat scroll right center #008ad2;
    width: 140px;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectLevel::-ms-expand { display: none; }

 #selectCorporation {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/公司.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectCorporation::-ms-expand { display: none; }

#selectStatus {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/状态级别.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectStatus::-ms-expand { display: none; }
 #selectContractorProfession {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/承包专业.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectContractorProfession::-ms-expand { display: none; }
 #selectIsQualified {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/合格.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectIsQualified::-ms-expand { display: none; }
 #selectCity {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/城市.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectCity::-ms-expand { display: none; }
#selectProvince {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
     width: 140px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background:url('/Content/Images/mdd/省份.png') no-repeat scroll right center #008ad2;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 24px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
#selectProvince::-ms-expand { display: none; }
   #selectSecureClass {
        /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
        border: solid 1px #000;
        width: 140px;
        /*很关键：将默认的select选择框样式清除*/
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /*在选择框的最右侧中间显示小箭头图片*/
        background: url('/Content/Images/mdd/检查类别.png') no-repeat scroll right center #008ad2;
        /*为下拉小箭头留出一点位置，避免被文字覆盖*/
        padding-right: 24px;
    }


        /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
        #selectSecureClass::-ms-expand {
            display: none;
        }