# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.png
*.bmp
*.ico
*.jpg
*.jpeg
*.xls*
*.doc*
*.bak
*.tmp
*.nupkg
*.tlb
*.cache
*.zip
*.user
*.mfb
*.suo
*.gif
*.xaml
*.baml
*.log
*.txt
*.json
*.sql
*.manifest
*.nuspec
# Precompiled Headers
*.gch
*.pch
*.msi
*.exe*
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
