
@{ var homeHost = DBWorld.AecCloud.Web.AuthUtility.GetHomeHost().TrimEnd('/');}
<footer id="footer">
    <div class="footer">
        <div class="webWidth guideList clearfix">
            <div class="guideItem guideItem1 left">
                <dl>
                    <dt class="guideItemGreenHand">
                        <a href="javascript:void(0);" title="新手指南">
                            新手指南
                        </a>
                    </dt>
                    <dd>
                        <a href="@homeHost/Help/QA4" title="注册登录">
                            注册登录
                        </a>
                    </dd>
                    <dd>
                        <a href="@homeHost/Help/QA5" title="会员介绍">
                            会员介绍
                        </a>
                    </dd>
                    <dd>
                        <a href="@homeHost/intro/product" title="客户端下载">
                            客户端下载
                        </a>
                    </dd>
                    <dd>
                        <a href="@homeHost/Help/QA11" title="售后服务">
                            售后服务
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="guideItem guideItem1 left">
                <dl>
                    <dt class="guidePay">
                        <a href="javascript:void(0);" title="支付方式">
                            支付方式
                        </a>
                    </dt>
                    <dd>
                        <a href="@homeHost/Help/QA7" title="转账汇款">
                            转账汇款
                        </a>
                    </dd>
                    <dd>
                        <a href="@homeHost/Help/QA7" title="淘宝支付">
                            淘宝支付
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="guideItem guideItem2 left">
                <dl>
                    <dt class="guideItemTel">
                        <a href="javascript:void(0);" title="400-820-6808">
                            400-820-6808<time>（工作日：9:00-18:00）</time>
                        </a>
                    </dt>
                    <dd>
                        @*<a href="javascript:void(0);" title="地址：上海市长宁区金钟路658号东华大学国家科技园17栋201室">

                </a>*@
                        地址：长宁区金钟路658号东华大学国家科技园17栋
                        <p class="footerIndex">
                            静安区陕西北路80号
                        </p>
                        <p class="footerIndex">
                            松江区思贤路3666号
                        </p>
                    </dd>
                    <dd>
                        @*<a href="javascript:void(0);" title="邮编：200335">

                </a>*@
                        邮编：200335
                    </dd>
                    <dd>
                        @*<a href="javascript:void(0);" title="招商热线：13818662825   万经理">

                </a>*@
                        招商热线：13818662825   万经理
                    </dd>
                </dl>
            </div>
            <div class="guideItem guideItem1 left">
                <img src="~/Content/Images/new/weChatIcon.jpg" class="weChatIcon" alt="凯德数值微信二维码" />
                <p>欢迎关注“DBWORLD”</p>
                <p>微信公众号</p>
            </div>
        </div>
        <div class="copyright">
            <div class="webWidth">
                Copyright© 2002-2014 凯德版权所有 沪ICP备14022522号-1 沪B2-20100316 出版物经营许可证新出发沪批字第A-243号
            </div>
        </div>
    </div>
</footer>
<!--返回顶部-->
<div class="returnTop">
    <img src="~/Content/Images/new/rerurnTop.png" alt="返回顶部图片" />
</div>