<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="host" value="http://gc.cscec82.com:8000/"/>
	  <add key="SignaturePicturePath" value="c:\\PrivateCloud\\signature"/>
	  <!--正式环境
    <add key="host" value="http://gc.cscec82.com:8000/"/>
	  <add key="SignaturePicturePath" value="c:\\PrivateCloud\\signature"/>
 -->
	  <!--local
   <add key="host" value="http://gc.cscec82.com:8000/"/>
	  <add key="SignaturePicturePath" value="c:\\PrivateCloud\\signature"/>
  -->
	  <!--测试
  <add key="host" value="http://139.196.154.231:8001/"/>
	  <add key="SignaturePicturePath" value="e:\\PrivateCloudForTest\\0installersource\\signature"/>
  -->
  </appSettings>
</configuration>